{% extends 'base.html' %}

{% block title %}My Stocks{% endblock %}
{% block content %}
<div id="stocksResume"></div>
<div class="row">
    <div class="col-12">
        <h3 class="white">
            <button type="button" class="btn left btnAdd white" data-toggle="modal" data-target="#exampleModal">
                <img src="/static/image/plus-square.svg"/>
            </button>
            <!-- Lista de ações  -->
        </h3>
    </div>
</div>

<div class="accordion" id="myAccordion"></div>

{% endblock %}